
.box {
    width: 72px;
    height: 72px;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    color: #FFF;
    margin-top: 50px;
    margin-right: 50px;
    float: left;
    position: relative;
}

.box>img {
    position: absolute;
    top: -40px;
    right: -40px;
}

#box-red {
    background-color: red;
}

#box-orange {
    background-color: orange;
    position: relative;
}

#box-yellow {
    background-color: yellow;
    position: relative;
}

#box-green {
    background-color: green;
    clear: left;
}

#box-blue {
    background-color: blue;
}

#box-violet {
    background-color: violet;
}

