.hero-pizza-title {
    background-color: white;
    opacity: .7;

}

h1 {
    position: relative;
    text-align: center;
}

.panel-footer {
    text-align: right;
}

.list-group-item {
    background-color: #D9EDF7;
}


