.jumbotron {

}

h1 {
    position: relative;
    text-align: center;
}

.panel-footer {
    text-align: right;
}

.list-group-item {
    background-color: #D9EDF7;
}


.btn-default {
    background-color: #2e6da4;
}

.crust {
    background-color: #D9EDF7;
}

.panel-body {
    background-color: #D9EDF7;

}

.panel-body.form-control {
    background-color: #FFF;
}